<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<div class="container mt-5">
  <h1 class="text-center">Sobre Nós</h1>
  <p>
    Bem-vindo à ShopClothes. Nós oferecemos roupas e acessórios da mais alta
    qualidade. Nossa missão é trazer moda acessível para todos.
  </p>
</div>

<%- include('layouts/footer') %>
